/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&family=Oswald:wght@300&display=swap');


/* popup style */
#popup {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    color: #8a00ff;
    box-shadow: 0 0 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    flex: 1;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20%;


  }
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
.poptext {
    color: #8a00ff;
    font-family: 'Oswald', sans-serif;
    text-align: center;


}
#poptitle {
    font-size: 3em;
    font-family: 'Baloo Thambi 2';
    margin-bottom: 0.2em;
}
#popl1 {
    font-size: 1.5em;
    color: #181818;
    margin-top: 0;
    margin-bottom: 0.2em;
}
#popl2 {
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 0.2em;
}
#ageline {
    width: 100px;
    height: 100px;
    align-self: center;
}

#fechar {
    position: absolute;
    top: 20px;
    right: 20px;
    background: linear-gradient(180deg,#d19cff 0%,#b662ff 30%, #9b28ff 65%, #8a00ff 100%);
    border: 0px solid #8a00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

/* main page style */
body {
    background-color: #181818;
    width: auto;
    height: auto;

}
#main {
    flex: 1;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20%;
}
#titulo {
    display: none;
    background-color: white;
    border-radius: 10px;
    color: #9b28ff;
    text-align: center;
    line-height: 100px;
    font-family: 'Baloo Thambi 2', cursive;
    letter-spacing: 3px;
    animation: scale-in-hor-center .7s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-hor-center .7s cubic-bezier(.25,.46,.45,.94) both 
}
@-webkit-keyframes scale-in-hor-center{0%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}}@keyframes scale-in-hor-center{0%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}}
#container {
    display: none;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 9px 5px 15px 5px #000000;
    animation: scale-in-hor-center .7s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-hor-center .7s cubic-bezier(.25,.46,.45,.94) both

}
@-webkit-keyframes scale-in-hor-center{0%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}}@keyframes scale-in-hor-center{0%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}}
#resultado {
    display: none;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 9px 5px 15px 5px #000000;
    animation: scale-in-hor-center .7s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-hor-center .7s cubic-bezier(.25,.46,.45,.94) both
} 
@-webkit-keyframes scale-in-hor-center{0%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}}@keyframes scale-in-hor-center{0%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}}

#calcular { 
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    backface-visibility: hidden;
    color: white;
    text-align: center;    
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px; 
    margin-top: 20px;
    border-radius: 8px;
    height: 30px;
    background: linear-gradient(180deg,#d19cff 0%,#b662ff 30%, #9b28ff 65%, #8a00ff 100%);
    border: 0px solid #8a00ff;   
    box-shadow: inset 0px 1px 3px rgba(255,255,255,.4);
    color: #fff;  
}
input::placeholder{
    color: #181818;
}

#age {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    color: #8a00ff;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
}
#todayis {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    color: #181818;
    font-size: 1.5em;
    margin-top: 0;
}
#puns {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    color: #181818;
    font-weight: 300;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;

}